<div data-th-fragment="contact">
    <!-- Contact Modal -->
    <div id="view_contact_modal" tabindex="-1" aria-hidden="true"
         class="hidden fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50">
        <div class="relative w-full max-w-md bg-white rounded-lg shadow-lg dark:bg-gray-700">
            <!-- Modal content -->
            <div class="flex flex-col items-center py-6">
                <!-- Profile Section -->
                <div class="w-24 h-24 bg-gray-300 rounded-full flex items-center justify-center">
                    <img id="profile_image" src="" alt="Profile Image"
                         class="w-24 h-24 rounded-full object-cover bg-gray-300">
                </div>
                <h3 id="contact_name" class="mt-4 text-xl font-semibold text-gray-900 dark:text-white"></h3>
                <span id="contact_email" class="text-gray-600 dark:text-gray-300"></span>
                <span id="contact_phone" class="text-gray-600 dark:text-gray-300"></span>
            </div>
            <!-- Info Section -->
            <div class="p-6 space-y-4">
                <!-- Location -->
                <div class="flex items-center justify-center text-gray-700 dark:text-gray-300">
                    <svg class="w-5 h-5 mr-2" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                         viewBox="0 0 24 24">
                        <path
                                d="M12 2C8.686 2 6 4.686 6 8c0 4.411 6 12 6 12s6-7.589 6-12c0-3.314-2.686-6-6-6zm0 8.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z" />
                    </svg>
                    <span id="contact_location"></span>
                </div>
                <!-- Notes -->
                <div class="flex items-center justify-center text-gray-700 dark:text-gray-300">
                    <svg class="w-5 h-5 mr-2" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                         viewBox="0 0 24 24">
                        <path
                                d="M19 2H5c-1.104 0-2 .896-2 2v16l4-4h12c1.104 0 2-.896 2-2V4c0-1.104-.896-2-2-2zM7 10h10v2H7v-2zm6-4h4v2h-4V6zm-6 0h4v2H7V6z" />
                    </svg>
                    <span id="contact_notes"></span>
                </div>
                <!-- Stars -->
                <div id="stars_container" class="flex justify-center space-x-2">
                    <!-- Stars will be dynamically populated here -->
                </div>
                <!-- Website Links -->
                <div>
                    <table class="w-full text-center">
                        <tr>
                            <td>
                                <i class="fa-solid fa-link"></i>
                            </td>
                            <td>
                                <a id="contact_website" href="" target="_blank"
                                   class="text-blue-600 hover:underline dark:text-blue-400"><span id="website"></span></a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <i class="fa-brands fa-linkedin"></i>
                            </td>
                            <td>
                                <a id="contact_linkedin" href="" target="_blank"
                                   class="text-blue-600 hover:underline dark:text-blue-400"><span id="linkedin"></span></a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <i class="fa-brands fa-facebook"></i>
                            </td>
                            <td>
                                <a id="contact_facebook" href="" target="_blank"
                                   class="text-blue-600 hover:underline dark:text-blue-400"><span id="facebook"></span></a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <!-- Footer -->
            <div class="flex justify-center p-4 border-t dark:border-gray-600">
                <button data-modal-hide="view_contact_modal" type="button"
                        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none rounded-lg text-sm px-5 py-2.5 dark:bg-blue-600">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
